


/*-------
	Background color 
--------*/

@bg-primary : #466FA6;
@bg-default : #3a3d42;
@bg-hover : #494e55;
@brand-gray: #ebebeb;

@line-height-computed: 18px;

/*-----------
	Color
-------------*/

@white-color: #fff;
@brand-primary: #2194d2;
@brand-waring: #e24545;

@font-base-size: 13px;