.my-account {
	margin-top: @line-height-computed*5;
	.entry-info,
	.list-info ul li {
		box-shadow: 1px 1px 2px @brand-primary;
		padding: @line-height-computed @line-height-computed*2;
	}
	.list-info ul li {
		padding: @line-height-computed/2 @line-height-computed;
		margin-bottom: @line-height-computed;
	}
	.personal-tabs {
		margin-top: @line-height-computed*2;
	}
	.entry-info {
		margin-bottom: @line-height-computed*3;
	}
	.list-info {
		li {
			width: 250px;
			a.active  {
				color: @brand-primary;
			}
		}
	}
	.entry-info .media-body {
		padding-left: @line-height-computed;
	}
	.btn-submit {
		margin-left: @line-height-computed;
	}
}
.box-container {
	.panel {
		border-radius: 0;
	}
	.panel-heading {
		h3 {
			font-size: 18px;
			font-weight: bold;
			padding: @line-height-computed;
		}
		i {
			padding-right: @line-height-computed;
		}
	}
	.panel-body {
		padding: @line-height-computed* 1.5 @line-height-computed;
		margin: 0 @line-height-computed;
	}
	.item-product {
		margin-bottom: @line-height-computed;
	}
}
.fixed {
	position: fixed;
	top: 0;
	display: block;
	margin-top: @line-height-computed*5;
}
.btn-setting {
	position: absolute;
    border-radius: 50% !important;
    padding: 8px 12px;
    right: 9px;
    text-align: center;
    top: 9px;
    &:hover {
    	.action {
    		opacity: 1;
    		width: 100px;
			height: 105px;
    	}
    }
}
.action {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	box-shadow: 1px 1px 2px @brand-primary;
	z-index: 10000;
	background: #fff;
	opacity: 0;
	transition: all 0.6s ease;
	li {
		margin: @line-height-computed/2 0;

	}
	li i {
		width: 20px;
		height: 20px;
		margin-right: @line-height-computed/2;
		text-align: center;
	}
}