.section {
	padding: @line-height-computed*2 0;
	&.section-advertising {
		
		.free-shipping,
		.custom-care,
		.party {
			min-height: 170px;
			padding: @line-height-computed 0;
			background: @brand-primary;
			width: 100%/3;
			@media (max-width: @screen-xs) {
				width: 100%;
			}
			p {
				padding: @line-height-computed 0;
				color: #fff;
				text-transform: uppercase;
			}
		}
		.free-shipping {
			opacity: 0.6;
		}
		.custom-care {
			opacity: 0.8;
		}
		.party {
			opacity: 1;
		}
	}
}