.alert-compare {
	position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    z-index: 99999;
    .translate(0, -100%);
    .transition( translate 2s);
    &.active {
    	.translate(0,0);
    }
}
.list-compare {
	img {
		width: 50px;
		height: auto;
	}
	.item-compare {
		float: left;
		position: relative;
		margin-right: @line-height-computed/2;
		span {
			position: absolute;
			top: -5px;
			right: 0;
			cursor: pointer;
			color: @brand-primary;
			font-size: 13px;

		}
	}
	.btn-compare {
		padding: 15px 27px;
		margin-right: @line-height-computed*2;
	}
}