.btn {
	&.btn-primary,
	&.btn-success,
	&.btn-info,
	&.btn-warning,
	&.btn-danger {
		color: #fff;
		border-radius: 0;
		border: 0;
	}

	&.btn-primary {
		background: @brand-primary;
	}
	&.btn-default {
		color: @brand-primary;
		border-radius: 0;
		border-color: @brand-primary;
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active,
		.open > .dropdown-toggle& {
			background: @brand-primary;
			border-color: @brand-primary;
			color: #fff;
		}
}

}
