.category-c3 {
	margin-top: @line-height-computed*3;
}

.category-c3-right,
.all-category {
	.item-product {
		.list-button a {
			padding: 16px;
		}
		.thumbnail {
			padding: 0;
			border: 0;
			position: relative;
			margin-bottom: 9px;
			.transition(all .8s);
		}
		.caption {
			border: 1px solid #eee;
			border-top: 0;
		}
		.btn-quickview,
		.btn-addtocart {
			position: absolute;
			width: 100px;
			.text-center;
			top: 10px;
			left: 25%;
			opacity: 0;
			.transition(all 0.6s);

		}
		.btn-addtocart {
			top: 30px;
			.transition-delay(.2s);
		}
		&:hover {
			.thumbnail {
				.translate(0, -8px);
				box-shadow: 0 3px 2px rgba(0,0,0,.2);
			}
			.btn-quickview,
			.btn-addtocart {
				top: 40px;
				opacity: 1;
			}
			.btn-addtocart {
				top: 90px;
			}

		}
	}
	
}

.title-feature {
	color: white;
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 36px;
}
.color-drak {
	color: #222;
}
.wrap-feature {
	padding: @line-height-computed*4 0;
	margin-bottom: @line-height-computed*2;
	.btn-show {
		margin-top: @line-height-computed*2;
	}
}

.sort-product {
	p {
		margin-top: @line-height-computed;
		text-transform: uppercase;
	}
	.form-control {
		padding: 6px 12px;
		height: 50px;
	}
}
.sidebar-show-product {
	margin-top: @line-height-computed*2;
	.page-header {
		margin: 0;
	}
	.media {
		border-bottom: 1px dashed #eee;
    	padding-bottom: 15px;
    	&:last-child{
    		border-bottom: 0;
    	}
	}
	.media-body {
		h4 {
			font-size: 15px;
		}
		.price {
			padding-top: 0;
		}
	}
}
//
.category-c2 {
	a {
		color: @brand-primary;
	}
	.title-feature {
		color: #222;
		font-size: 36px;
		padding: @line-height-computed*2 0 @line-height-computed;
	}
	.view-all {
		padding: @line-height-computed*4 0 @line-height-computed;
		color: @brand-primary;
		&:after {
			content: '\f178';
			font-family: FontAwesome;
			padding-left: @line-height-computed/2;
			
		}
	}
}



.category-feature-product {
	.item {
		img {
			width: 100%;
		}
	}
}
.col-masonry {
	width: 250px;
	margin: 0 @line-height-computed @line-height-computed @line-height-computed;
}
.show-all-product-category {
	margin-top: @line-height-computed*2;
}

.show-cat {
	
	position: absolute;
    bottom: -30px;
    left: 3%;
    width: 60px;
    height: 60px;
    background-color: #2194d2;
    padding: 20px 22px;
    border-radius: 50%;
    color: #fff !important;
    i {
    	font-size: 18px;
    	color: #fff;
    }
}
.hide-cat {
	display: none;
}
.menu-cat {
	position: absolute;
	top:0;
	left: -30%;
	width: 280px;
	background: #fff;
	z-index: 9999;
	.translate(-100%, 0);
	.transition(all 0.8s);
}

.menu-cat.active {
	left: 0;
	.translate(0,0);
}

// .show-all-product-category {
// 	*, *:before, *:after {box-sizing:  border-box !important;}


// 	.row {
// 	 -moz-column-width: 18em;
// 	 -webkit-column-width: 18em;
// 	 -moz-column-gap: 1em;
// 	 -webkit-column-gap:1em; 
	  
// 	}

// 	.item-product {
// 	 display: inline-block;
// 	 padding:  .25rem;
// 	 width:  100%; 
// 	}
// }