.page-contact {
	margin: @line-height-computed*2 0;
	.map-contact {
		min-height: 300px;
	}
	.code-captra {
		padding-top: @line-height-computed*1.5;
		img {
			padding-right: @line-height-computed;
		}
	}
	.map-contact {
		margin: @line-height-computed*1.5 0;
	}
}
.require {
	.po-absolute;
	color: red;
	top: 0;
	right: -10px;
}
form {
	.form-control {
		border-radius: 0;
		padding: @line-height-computed;
	}
}