.main-menu {
	height: 50px;
	> a {
		color: #fff !important;
	}
	.menu-left {
		width: 65%;
		float: left;
		height: 100%;
		.navbar {
			background: #333;
			border: 0;
			margin: 0;
			border-radius: 0;
		}
	}

	.menu-right {
		height: 100%;
		background: @brand-primary;
		.my-cart,
		.my-search,
		.my-more ,
		.btn-up-post{
			padding: 14px;
			i {
				color: #fff;
				font-size: 20px;
			}
			&:hover i {
				color: #333;
			}
		}
		.my-cart {
         margin-left: @line-height-computed;
		}
		.btn-up-post {
			background: #FF1744;
			border-color: transparent;
			
			a {
				color: #fff;
			}
			&:hover {
				a {
					color: #222;
				}
			}
		}

	}
	.logo {
		@media (min-width: @screen-md-max) {
			padding: 4px 0 0 100px;
		}
		@media (min-width: 1600px) {
			padding: 4px 0 0 255px;
		}
		img {
			max-height: 45px;
		}
	}
}

.form-search {
	form {
		position: absolute;
	    width: 100%;
	    top: 50%;
	    display: none;

	}
	input.typing-search {
		border: 0;
	    background-color: transparent;
	    box-shadow: none;
	    text-align: center;
	    font-size: 20px;
	    text-transform: uppercase;
	    &::-webkit-input-placeholder {
	    	text-transform: uppercase;
  			color: #888 !important;
  			font-size: 20px;
  			letter-spacing: 4px;
  		}
	}
	&.active {
		height: 100vh;
		width: 100vw;
		position: fixed;
		z-index: 9998;
		background-color: rgba(248, 248, 248, 0.95);
		top: 0;
		left: 0;
		form {
			display: block;
		}
	}
}
.my-search {
	padding: 0 14px !important;
	input {
		padding: 0;
		width: 24px;
		background-color: transparent;
    	border: transparent;
    	box-shadow: none;
    	line-height: 1;
    	color: #fff;
    	font-size: 16px;
    	.transition(width .5s);
    	&::-webkit-input-placeholder {
    		font-size: 0px;
    	}
    	&:focus {
    		width: 225px;
    		
    		padding: 22px;
    		&::-webkit-input-placeholder:before {
			    content: "Tìm kiếm ...";
			    font-size: 20px;
			    color: #fff;
			   
			}
    	}
	    &::-webkit-input-placeholder:before {
		    content: "\f002";
		    font-size: 20px;
		    color: #fff;
		    font-family: FontAwesome;
		}
	}
	.toggle-search {
		position: absolute;
	    z-index: 10000;
	    top: 10px;
	}
}

.child-menu {
	li:first-child:before {
		content: '';
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent @brand-primary transparent;
		top: -10px;
		left: 20px;
		position: absolute;
	}
	li:first-child:after {
		content: '';
		border-style: solid;
		border-width: 0 9px 9px 9px;
		border-color: transparent transparent #fff transparent;
		top: -7px;
		left: 21px;
		position: absolute;
	}
}