.div-cart {
	top:0;
	right: 0;
	@media (max-width: @screen-sm) {
		right: @line-height-computed*4.5;
	}
	@media(max-width: @screen-xs) {
		right: @line-height-computed*5;
		.number-item {
			display: none;
		}
	}
	.menu-right {
			li {
				padding: 15px 9px;
				a {
					color: #fff;
					text-transform: uppercase;
					padding: @line-height-computed;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.my-cart i {
				padding-right: @line-height-computed/2;
			}
			.number-item,
			.number-item:hover {
				margin-left: -5px;
				background-color: @brand-primary !important;
			}
	}
}
.menu-bar,
.main-menu {
	&.fixed-menu {
		position: fixed;
		top:0;
		width: 100%;
		z-index: 10000;
	}
	.navbar-toggle {
		margin-bottom: 0;
	}
	.navbar-toggle {
		border: 0 !important;
		&:hover,
		&:focus {
			background: transparent;
			span {
				color: @brand-primary;
			}
		}
	}
}

// mega menu
.parent-menu li  {
	position: relative;
	&:hover {
		.child-menu {
		 	visibility: visible;
		 	opacity: 1;
			.translate(0,11px);
		}
	}
}


.child-menu {
	.transition(all .4s);
	.translate(0,10%);
	background: #fff;
	visibility: hidden;
	position: absolute;
	width: 300px;
	opacity: 0;
	z-index: 10000;
	
	li {
		border-bottom: 1px solid #eee;
		padding: @line-height-computed/2 @line-height-computed;
		&:hover {
			background: transparent !important;
			a {
				color: @brand-primary;
			}
		}
		a {
			color: #222;
		}
	}
	li:first-child {
		border-top: 2px solid @brand-primary;
	}
}

.sidebar-left {
    h2 {
        padding-top: @line-height-computed;
        padding-bottom: @line-height-computed;
    i:before {
            padding-right: @line-height-computed;
        }
    }
    .main-category > li {
        &:hover {
        	// background: @brand-primary;
        	> a,
        	> span {
				color: @brand-primary;
        	}
            .child-category {
                opacity: 1;
                .translate(0,0);
                visibility: visible;
            }
        }
        a {
            color: #222;
            text-decoration: none;
        }
    }
    .child-category{
        position: absolute;
        width: 900px;
        z-index: 1000;
        top: 0;
        background-color: #fff;
        .translate(30px,0);
        opacity: 0;
        left: 95%;
        visibility: hidden;
        .transition( all 0.7s);
        li {
            border-bottom: 1px solid #eee;
        }
        .mega-group-header {
        	border-bottom: 1px solid #eee;
    		padding-bottom: 12px;
    		span {
    			border-bottom: 1px solid @brand-primary;
    			padding-bottom: 10px;
    		}
        }
        .mega-group {
        	margin-bottom: @line-height-computed*2;
        }
        .mega-group:nth-child(3n+4) {
        	clear: left;
        }
    }
    
}