@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
body {
  font-family: 'Open Sans', sans-serif ;
}
img {
	max-width: 100%;
}
a {
	color: #222;
	&:hover {
		color: @brand-primary;
		text-decoration: none;
	}
}
.site-content {
	min-height: ~"calc(100vh - 143px)";
}
.bg-default {
	background-color: @bg-default;
	color: @white-color;
}
.bg-gray {
	background: #ebebeb;
}
.bg-primary {
	background: @brand-primary;
	color: @white-color;
}
@media(max-width: @screen-sm) {
	.hide-sm {
		display: none !important;
	}
}

.po-relative {
	position: relative;
}
.po-absolute {
	position: absolute;
}
.price-old,
.price-new {
	display: inline-block;
}
.price-old {
	color: #888;
	text-decoration: line-through;
	font-size: 15px;
	padding-right: @line-height-computed/2;
}
.price {
	padding-top: @line-height-computed/2;
}
.price-new {
	font-size: 20px;
	font-weight: bold;

	color: @brand-primary;
}
.star span {
	color: #ffba00;
}
.title-product a{
	font-size: 16px;
  	text-decoration: none;
  	color: #222;
  	&:hover {
  		color: @brand-primary;
  	}
}
.search-form {
	overflow: hidden;
	margin-top: @line-height-computed*1.5;
	.contact_block {
		display: block;
		  float: right;
		  position: relative;
		  overflow: hidden;
		  background: @bg-default;
		  color: @white-color;
		  padding: 9px 10px 8px 60px;
  			margin-left: 18px;
		 &:before {
		 	font-family: FontAwesome;
			  content: "\f095";
			  display: inline-block;
			  width: 50px;
			  height: 42px;
			  line-height: 42px;
			  text-align: center;
			  font-size: 20px;
			  background: @brand-primary;
			  color: #fff;
			  position: absolute;
			  left: 0;
			  bottom: 0;
		}
		h3 {
			font-size: 16px;
		}
	}
	form {

		width: 70%;
		.pull-left;
		@media (max-width: @screen-xs) {
			width: 100%;
		}
		@media (min-width: @screen-lg) {
			width: 75%;
		}
	}
	.wrap-input {
		float: left;
		width: 100%;
		input {
			width: 80%;
			.pull-left;
		}
	}
	.btn-search {
		width: inherit;
		button {
			.bg-primary;
			padding: 8px @line-height-computed;
			border-radius: 0 !important;
		}
		
	}
	input {
		// width: 500px !important;
		border-radius: 0;
  		padding: @line-height-computed;
	}
}
.header-top {
	padding-top: @line-height-computed/2;
	font-size: @font-base-size - 1;
	ul {
		list-style: none;
	}
	li {
		padding-right: @line-height-computed/2;
		border-right: 1px solid rgba(255,255,255,0.3);
		display: inline-block;
		padding: 0 @line-height-computed/2;
		// @media(max-width: @screen-md) {
		// 	&:first-child {
		// 		position: relative;
		// 	}
		// 	position: absolute;
		// 	right: @line-height-computed*2;
		// 	display: block;
		// 	border: none;
		// 	padding: @line-height-computed 0;
		// }
	}
	.list-right {
		a {
			color: #fff;
		}
		li:last-child {
			border: 0;
		}
	}
}
.header-bar {
	padding: @line-height-computed*2 0;
}

/*----------
	Menu bar
------------*/
.menu-bar {
	 // border-top: 1px solid @brand-primary;
	 // border-bottom: 1px solid @brand-primary;
	.bg-default;
	.navbar-default {
		background: transparent !important;
		border: 0 !important;
		margin-bottom: 0;
	}
	.parent-menu {
		> li > a {
			color : @white-color !important;
			text-transform: uppercase;
		}
	}
	
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav >li:hover,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-header a.active,
	.navbar-header a:hover,
	.div-cart .menu-right .my-cart {
		background: @bg-hover !important;
		color: white;
	}

}
/*---------
	Site-content 
----------*/
.banner {
	margin-top: @line-height-computed*4.5;
}
.sidebar-left {
	ul.main-category {
		border-left: 1px solid #eee;
	}
	h2 {
		background-color: @brand-primary;
		color: @white-color;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		padding: @line-height-computed/2 @line-height-computed;
	}
	li {
		padding: @line-height-computed/2  @line-height-computed;
		i {
			padding-right: @line-height-computed;
		}
	}
}
.site-content {
	margin-top: @line-height-computed*2;

}

#carousel-banner,
#carousel-feature,
#carousel-single-product{
	.carousel-control {
		top: 50%;
		&.left {
			.text-left;
		}
		&.right {
			.text-right;
		}
		&.left,
		&.right {
			background-image: none !important;
			opacity: 0;
			transition: opacity 0.4s;
			i {
				background-color: rgba(0,0,0,.6);
				padding: @line-height-computed;
			}

		}
	}
	.carousel-caption {
		padding-bottom: @line-height-computed*4;
	}
	&:hover {
		.carousel-control.left,
		.carousel-control.right {
			opacity: 1;
		}
	}
}
.category-product{
	.title-category {
		margin: @line-height-computed*2 0;
		position: relative;
		&:before {
			display: block;
			content: '';
			height: 5px;
			width: 100%;
			position: absolute;
			.bg-gray;
			top: 10px;
		}

		a {
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			position: relative;
			background-color: #fff;
			padding-right: @line-height-computed;
		  &:hover {
		  	text-decoration: none;
		  }
		}
	}
}
.list-client {
	margin: @line-height-computed*4 0;
	li { 
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}

.footer {
	margin-top: @line-height-computed*2;
	.title-introduce {
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: @line-height-computed;
		color: #fff;
	}
	.content-footer {
		li {
			margin-bottom: @line-height-computed;
			a {
				color: #999;
			}
		}
	}
	.footer-email {
		button {
			padding: @line-height-computed/2;
		}
	}
	.footer-social {
		margin-top: @line-height-computed;
		button {
			width: 40px;
			height: 40px;
			margin-right: @line-height-computed/2;
			color: #fff !important;
		}
		.social-f {
			background: #415a99;
			border-color: #415a99;
		}
		.social-t {
			background: #00caff;
			border-color: #00caff;
		}
		.social-g {
			background: #da4735;
			border-color: #da4735;
		}
	}
	.coppy-right {
		border-top:1px solid;
		padding-top: @line-height-computed*1.5;
	} 
	&.footer-bg {
		background: #22252c;
		padding: @line-height-computed 0;
		color: #666;
	}
	a {
		color: @white-color;
		&:hover {
			color: @white-color;
		}
	}
	li {
		opacity: 0.4;
		&:hover {
			opacity: 1;
		}
	}
}

#modal-quickview,
#modal-addtocart,
#modal-id,
#modal-register {
	.modal-content {
		margin-top: @line-height-computed*4;
	}
}
#modal-addtocart {
	.modal-content {
		padding-bottom: @line-height-computed*2;
		.modal-close {
			top: -2%;
		}
	}
}
#modal-id {
	.modal-close {
			right: -10% !important;
			top: -5% !important;
		}
}
#modal-register {
	.modal-close {
			right: -5% !important;
			top: -5% !important;
		}
}