.modal-login {

}
/*-------------
	Modal login
---------------*/
.modal-backdrop.fade.in {
	opacity: 0.5;
}
.modal-login .modal-content {
	border-radius : 0 !important;
}
.modal-footer {
	background-color: transparent;
	text-align: center;
	padding: 20px 15px 15px;
}

.modal-register .margin-bottom-md-15 {
	margin-bottom: 15px;
}
.modal-register .margin-right-xs-1 {
	margin-right: @line-height-computed;
}
.modal-register .margin-left-xs-1 {
	margin-left: @line-height-computed;
}
.modal-register .margin-bottom-xs-2 {
	margin-bottom: @line-height-computed*2;
}
.modal-register .form-horizontal .control-label {
	text-align: left !important;
}


/*------ Social --------*/
.btn-social {
	margin-bottom: @line-height-computed;
}
.social {
	background-color: transparent;
	border: 0;
	margin: 0 12px;
}
.social button {
	background-color: transparent;
	border: none;	
}
.social .face {
	color: #337ab7;
}
.social .twitter {
	color: #5bc0de
}
.social .google-plus {
	color: #d9534f
}

.login-or {
	position: relative;
	border: 1px solid #eee;
}
.login-or p {
	position: absolute;
  	left: 43%;
  	top: -10px;
  	background-color: #fff;
 	padding: 0 9px;
}
.login-or:before {
	content: '';
	height: 1px;

}
.txt-username,
.txt-password {
	margin-top: @line-height-computed*1.5;
	width: 100%;
}
.lost-password {
	margin-top: @line-height-computed;
	overflow: hidden;
}
.lost-password .checkbox {
	margin: 0;
}
.lost-password input[type=checkbox] {
	margin: 0 0 0 -20px !important;
}
.lost-password a,
.modal-footer i{
	color: #333;
}
.lost-password a:hover {
	color: #2780e3;
}
.modal-footer a {
	color: #2780e3;
}
.modal-footer a:hover {
	color: #1967be;
}