.mini-cart {
	position: fixed;
	top: 0;
	right: 0;
	background: #ddd;
	height: 100vh;
	width: 300px;
	z-index: 1000;
	transform: translate(100%,0);
	transition: transform 0.6s;
	&.active {
		transform: translate(0,0);
	}
}
.info-top {
	background: #fff;
	overflow: hidden;
	padding: @line-height-computed*1.5 @line-height-computed*2;
	border-bottom: 1px solid @brand-gray;
	.close-mini-cart {
		cursor: pointer;
	}
	.mini-shopping-cart {
		position: relative;
		cursor: pointer;
		i {
			color: @brand-primary;
			font-size: 16px;
			
		}
		span {
			position: absolute;
			top: -11px;
			right: -9px;
		}
	}
}
.body-sidebar {
	height: 100%;
	background: #fff;
	overflow: auto;
	width: 100%;
	padding: @line-height-computed*2.5 @line-height-computed*2 @line-height-computed*16 @line-height-computed*2;
	.quality {
		color: #1967be;
		background-color: transparent;
		border: 1px solid #1967be;
		border-radius: 0;
		margin-right: @line-height-computed;
	}
	li {
		margin-bottom: @line-height-computed;
	}
	.price {
		color: #222;
		margin-right: @line-height-computed;
	}
	.media-body {
		padding-left: 9px;
	}
	.title-product {
		margin-bottom: 12px;
	}
	.media-body .remove-product {
		color: red;
		cursor: pointer;
	}
}

.info-bottom {
	position: absolute;
	bottom: 0;
	font-weight: bold;
	font-size: 24px;
	width: 100%;
	padding-bottom: @line-height-computed;
	font-weight: bold;
	text-align: center;
	.bg-default;
	a {
		padding: @line-height-computed*1.5 0;
		color: #fff;
		text-decoration: none;
	}
	.total {
		text-align: left;
		font-size: 18px;
		.bg-primary;
		padding: @line-height-computed*1.5 0;
		padding: @line-height-computed*2;
		margin-bottom: @line-height-computed*1.5;
		span {
			padding-left: @line-height-computed*7;
		}
	}
}
.mark-black.active {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
}