.order-product {
	margin-top: @line-height-computed*4;
	ul.nav-tabs {
		border-bottom: 1px solid #eee;
	}
	.nav-tabs > li > a {
		padding: @line-height-computed;
		color: #222;
		
	}
	.nav-tabs > li.active > a {
		background: transparent;
		border-width: 0 0 3px 0;
		border-style: solid;
		border-color: @brand-primary;
		color: @brand-primary;
	}
	.tab-content {
		margin-top: @line-height-computed*2;
	}
}
// .all-category {
// 	.nav-tabs > li > a {
// 		text-transform: uppercase;
// 	}
// }

