.modal-content {
	border-radius: 0 !important;
  	border: 6px solid #ededed;
  	position: relative;
  	.modal-close {
  		  position: absolute;
		  top: -4%;
		  right: -3%;
		  background-color: transparent;
		  border: 0;
  	}

}
.quickview-product {
	padding: @line-height-computed*2;
	.info-product {
		padding: 0 @line-height-computed;
		p.description,
		.price {
			padding: @line-height-computed 0;
			.price-old {
				font-size: 20px;
			}
			.price-new {
				font-size: 25px;
			}
		}
		.add-to-cart {
			text-transform: uppercase;
		}
	}
	
}
.list-btn {
	input {
		width: 60px !important;
		border-radius: 0;
		text-align: center;
	}
}
.category-product {
	.control-left-qv,
	.control-right-qv {
		top: 45%;
		color: @brand-primary !important;
		background: transparent;
		right: 0;
		left: auto;
	}
	.control-left-qv {
		left: 0;
		i {
			margin: 0 !important;
		}
	}
}