.single-product {
	margin: @line-height-computed*3 0;
	.media-body {
		padding-left: @line-height-computed*2;
	}
	.list-inline {
		margin-left: 0;
	}
	.social-list {
		overflow: hidden;
  		padding: @line-height-computed 0;
  		.sc-twitter,
  		.sc-facebook,
  		.sc-google {
  			padding: 12px @line-height-computed;
  			color: #333;
  			border-color: #333;
  		}
  		.sc-twitter {
  			i {
				color: #00aaf0;
			}
			&:hover {
				background: #00aaf0;
				border-color: #00aaf0;
				color: #fff;
			}
  		}
  		.sc-facebook{
			i {
				color: #435f9f;
			}
			&:hover {
				background: #435f9f;
				border-color: #435f9f;
				color: #fff;
			}
  		}
  		.sc-google {
			i {
				color: #e04b34;
			}
			&:hover {
				background: #e04b34;
				border-color: #e04b34;
				color: #fff;
			}
  		}
	}
	.tab-info-product {
		margin: @line-height-computed*2 0;
		ul {
			background-color: #ededed;
			border: 0;
	  		li a{
	  			line-height: @line-height-computed*2;
	  			font-weight: bold;
	  			color: #222;
	  			text-transform: uppercase;
	  		}
	  		li.active a {
				color: #fff;
				background: @brand-primary;
				border: 0;
				border-radius: 0;
	  		}
		}
	}
	
	.tab-content-info {
		border: 1px solid #ededed;
		padding: @line-height-computed;
	}
	.rating {
		margin-top: @line-height-computed;
		span {
			padding: @line-height-computed;
		}
	}
}
.padding-md-180 {
	padding: @line-height-computed 0;
}
.list-item-control {
	.item-control {
		width: 30%; 
		margin: 20px 17px 0 0;
		float: left;
		&:nth-child(3n+3) {
			margin-right: 0;
		}
	}
}