.wrap-product {
	margin-top: @line-height-computed*4;
	li {
		text-align: center;
		position: relative;
		.description {
			padding: @line-height-computed 0;
		}
		a.step-product {
			background-color: #ffffff;
		    border: 5px solid #CED1D6;
		    border-radius: 100% 100% 100% 100%;
		    color: #546474;
		    display: inline-block;
		    font-size: 15px;
		    height: 40px; 
		    line-height: 30px;
		    text-align: center;
		    width: 40px;
		   
		    &:before {
		    	border-top: 4px solid #CED1D6;
			    content: "";
			    display: block;
			    font-size: 0;
			    height: 1px;
			    overflow: hidden;
			    position: absolute;
			    top: 18px;
			    width: 100%;			  
			    left: 164px;
		    }
		}
		&:last-child {
			a:before {
				display: none;
			}
		}
		&.active {
			a.step-product,
			a:before {
				border-color: @brand-primary;
			}
		}
	}
	select {
		width: 100%;
		padding: @line-height-computed;
	}
}
.progress {
	height: 8px;
	margin-bottom: @line-height-computed*2;
	.progress-bar {
		background-color: @brand-primary;
	}
}
.garally-product {
	border: 1px solid #ccc;
	padding: @line-height-computed;
	a {
		position: relative;
		&:before {
			content:"\00d7"; 
			color: red;
			position: absolute;
			top: -40px;
			right: 10px;
			font-size: 18px;
			cursor: pointer;
			z-index: 9;

		}
		img {
			margin-bottom: @line-height-computed/2;
			max-height: 100px;
			max-height: 100px;
		}
	}
}
.pager {
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active {
		background: lighten(@brand-primary, 10%)
	}
}