.view-cart {
	margin-top: @line-height-computed*2;
	td, th {
		border: 1px solid #eee;
		.text-center;
		vertical-align: middle !important;

	}
	th {
		border-top: 1px solid #eee !important;
	}
	img {
		width: 100px;
		height: auto;
	}
	.quantity {
		width: 100px;
		.text-center;
		padding: 4px;
	}
	.remove-product:hover {
		color: red;
	}
	.name-product {
		text-decoration: none;
		color: @brand-primary;
		font-weight: bold;
		&:hover {
			color: #222;
		}
	}
	.coupon {
		margin-left: @line-height-computed*2.5;
		input{
			padding: 6px;
			border: 1px solid #eee;
		}
	}
	.btn-coupon {
		border: 1px solid #eee !important;
	}

}